<div id="footer">
    <div id=" logo_footer">
        <img src="assets/image/logo_col.png" alt="LOGO NEXGEN COLORIDA">
    </div>
    <div id="mid">
        <div id="logo_redes">
            <img src="assets/image/facebook.png" alt="facebook">
            <img src="assets/image/Insta.png" alt="instagram">
            <img src="assets/image/linkedin.png" alt="linkedin">
        </div>
        <div id="wpp">
            <img src="assets/image/wpp.png" alt="Whatsapp">
            <p>(32)4002-8922</p>
        </div>
        <div id="email">
            <img src="assets/image/email.png" alt="Email">
            <p>contato@nexgen.com</p>
        </div>
        <div id="copyright">
            <p>Todos os direitos Reservados | Desenvolvido por NexGen</p>
        </div>
    </div>
    <div id="right">
        <h2>Informações</h2>
        <div id="local">
            <img src="assets/image/pointer-map.png" alt="ponteiro de mapa">
            <p>R. José Péres, 558 - Centro <br>
                Leopoldina - MG, 36700-000
            </p>
        </div>
        <div id="horario">
            <img src="assets/image/clock.png" alt="relogio">
            <p>Aberto de Segunda a Sexta de 9h-18h</p>
        </div>
    </div>
</div>