@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root
{
    --cor-primaria: white;
    --cor-secundaria: #040548;
    --cor-terciaria: #F56941;
    --cor-quartenaria: #DB562D;
    --cor-quintenaria: #F3EFEF;
}

body, html {
  user-select: none;
}

body {
    background-color: var(--cor-primaria);
    font-family: 'Inter', sans-serif;
}

header {
    padding-top: 0;
    margin-top: 0;
    display: inline-block;
}

#container {
    background: no-repeat center url(../assets/image/bg.png); 
    background-size: cover;        
    width: 100%;
    height: 740px;
}

#logo_header {
    display: inline-block;
    padding-top: 0;
}

#container header, #container nav
{
    width: 100%;
}

.main-nav {
    width: 100%;
    margin: 0;
    display: flex;
    padding: 0;       
    align-items: center;
}

.main-nav div:nth-child(1)
{
    width: 20%;
    text-align: center;
}

.main-nav div:nth-child(2)
{
    width:30%;
    justify-content: center;
    display: flex;    
    gap: 2em;
}

.main-nav div:nth-child(3)
{
    display: flex;
    width:20%;
    justify-content: right;
    gap: 1em;
}

.main-nav div:nth-child(4)
{
    display: flex;
    width:30%;
    justify-content: center;
    gap: 1em;
}

a {
    color: var(--cor-primaria);
    font-size: 18px;    
    text-decoration: none;
    cursor: pointer;
}

.push {
    margin-left: auto;
}

header a:hover {
    text-decoration: underline;
}

#sign_up{
    border: 1px solid var(--cor-primaria);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

#login_form
{     
    font-family: 'Inter';     
    z-index: 1;
    position: fixed;    
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    background-color: var(--cor-primaria);    
    border: .6em solid var(--cor-terciaria);    
    border-top: 2em;    
    border-left: 10em;    
    border-radius: 1em;        
    height: 25vh;
    width: 15vw;
    padding: 8vh 3vw;    
    padding-bottom: 5vh;
    opacity: 0;
    transition: .6s;    
}

#login_form form:nth-of-type(1)
{
    display: flex;
    gap: .8em;    
    width: inherit;
    height: inherit;
    flex-direction: column;       
    align-items: center;
    justify-content: center;
}

#login_form form:nth-of-type(2)
{
    display: flex;
    gap: .4em;    
    width: inherit;
    height: inherit;
    flex-direction: column;       
    align-items: center;
    justify-content: center;
}

#login_form form div
{
    margin-top: 2em;
    display: flex;
    width: 100%;         
    gap: 1em;
    justify-content: space-between;    
}

#login_form form:nth-of-type(2) div
{
    gap: 0;
    justify-content: center;
}

#login_form a
{
    font-size: .8em;
    padding-left: 5%;
    margin-top: -.5em;
    align-self: flex-start;
    color: #0094E7;
}


#login_form input[type="radio"]:checked + form
{
    display: none;
}

.form_label 
{
    text-align: left;
    display: block;
    width: 90%;
    font-size: 1.2em;
    font-weight: 500;    
}

.form_input
{
    width: 80%;
    display: block; 
    background-color: var(--cor-quintenaria);       
    border: .1em solid black;
    font-size: 1em;
    padding: .5em;
    border-radius: 1em;
}

.form_button
{    
    width: 6.5em;
    display: block;
    font-weight: 500;
    font-size: 1.2em;
    color: var(--cor-primaria);
    background-color: var(--cor-quartenaria);
    border: none;
    border-radius: 1em;
    padding: .4em 0;
    cursor: pointer;    
    transition: .2s;
}

.form_button:hover
{
    background-color: var(--cor-terciaria);
}
#login_form .span_close
{       
    position: absolute;
    top: 5%;
    font-family: 'Inter';
    font-weight: 900;
    border-radius: 50%;
    padding: .5em;    
    text-align: center;
    cursor: pointer;
    height: 1em;
    width: 1em;
    border: .1em solid black;
    left:85%;    
}   

#cta h1{
    color: var(--cor-primaria);
    margin-top: 200px;
    margin-left: 100px;
    font-size: 40px;
    line-height: 60px;
    font-weight: 800;
}

#cta h5{
    color: var(--cor-primaria);
    margin-left: 100px;
    margin-bottom: 40px;
    font-weight: 600;
}

#cta a{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    border: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 50px;
    font-weight: 700;
    font-size: medium;
}

#casa_in{
    width: 100%;
    height: 1000px;
    margin-left: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#casa_in h2{
    font-family: 'Inter';
    font-weight: 700;    
    color: var(--cor-quartenaria);
    margin-bottom: 40px;
}

#video{    
    background-color: var(--cor-quartenaria);
    width: 1239px;
    height: 705px;
}

#sobre{
    background: url(../assets/image/fundo_sobre_nos.png);    
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#texto{
    width: 40%;
    padding-right: 200px;
}

#texto h2{
    color: var(--cor-primaria);
    text-align: center;
    padding-bottom: 40px;
    padding-top: 0px;
    font-weight: 700;

}

#texto p{
    color: var(--cor-primaria);
    text-align: justify;
}

#funcionarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
#funcionarios h2{
    color: var(--cor-primaria);
    text-align: center;
    font-weight: 700;
}
#imagens_func{
        padding-top: 20px;
}

#propaganda{
    width: 100%;
    height: 1080;
    background-color: var(--cor-primaria);
    padding-top: 200px;
    padding-left: 100px;
    justify-content: center;
    align-items: center;
}
#propaganda ul{
    display: flex;
    flex-direction: row;
}

#propaganda div{
    padding-right: 100px;
}

#linha1{
    padding-left: 40px;
    margin-bottom: 50px;
}

#linha2{
    margin-left: 0px;
}







